.image-viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    transition: all 0.3s ease;
  }
  
  .image-container {
    position: relative;
    max-width: 90%; /* Adjust as needed */
    max-height: 90%; /* Adjust as needed */
    overflow: hidden;
    position: relative;
    display: flex; /* Added */
    justify-content: center; /* Added */
    align-items: center; /* Added */
  }
  
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .fullscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    height: 20px;
    width: 20px;
  }
  
  .close-button:hover {
    background-color: #ccc;
  }
  